@tailwind base;
@tailwind components;
@tailwind utilities;


#navigation { 
   animation: translate .4s;
}
       
@keyframes translate {
   0% {
      transform: translateY(-100%)
   }
   100%{
      transform: translateY(0%)
   }
 }


.typed-cursor {
   margin-top: 12px;
}

